.activatePage {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #76b852;
    min-height: 100vh;
}

.activateForm {
    display: flex;
    gap: 10px;
    padding: 30px;
    background: white;
    flex-direction: column;
}

input.redBorder {
    border: 2px solid red;
}

.labelPassword {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    width: 250px;
}

.labelPassword svg {
    position: absolute;
    top: 35px;
    right: 7px;
}

.passwordError {
    width: 220px;
}

.labelConfirmPassword {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    width: 250px;
}

.labelConfirmPassword svg {
    position: absolute;
    top: 35px;
    right: 7px;
}




